/* --- CSS RESET --- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---------------------- CSS RESET END ----------------------- */

/* ***** STYLES ***** */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "MuseoModerno", cursive;
  font-weight: lighter;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Orbitron", sans-serif;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* **** /// **** MOBILE SCREEN **** /// **** */

/* *** Texts under an image (info, apod, about us) *** */
.image-text {
  margin: 15px;
  text-align: justify;
  text-indent: 20px;
  line-height: 2;
}

/** ***  Image fromabout us) *** */
.image-display {
  width: 100%;
  margin-top: 5px;
}
/* *** ALL NAV BARS *** */

.navbar-brand img {
  width: 2.5rem;
}
.bg-light {
  background-color: black !important;
}

.nav-link {
  text-align: center;
}

/* *** FORMS *** */

/* space between forms */
form input {
  margin: 15px 0;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

/* *** ALL FOOTERS *** */

.social {
  margin: 10px;
  padding: 10px;
}
.social ul {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

/* ------------------------- END COMMON STYLES ------------------------------ */

/* *** /// Home Page /// *** */
.header-section {
  font-family: "Orbitron", sans-serif;
  height: 100vw;
  background: url("../images/sunrise-over-the-earth.jpg") no-repeat center
    center / cover;
  position: relative;
}
.header-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
/* SFZ title */
.header-text {
  position: absolute;
  font-size: 2rem;
  top: 55%;
  left: 50%;
}

/* / main / */

.info {
  position: relative;
  padding: 10px 10px;
}
.info-logo img {
  height: 40vw;
  position: relative;
  left: 30%;
}

/* click to dashboard */
.discover-more {
  text-align: right;
  line-height: 7;
}
hr {
  width: 85%;
  background-color: white;
}
/* footer Home */
.home-footer {
  padding: 10px;
}

.home-footer p {
  text-align: center;
  border-bottom: 500px;
  margin: 10px 10px 15px 10px;
  line-height: 1.5;
}

/* *** /// Dashboard /// *** */
/* apod */
h2,
h4 {
  margin: 15px;
  font-size: 25px;
}

.apod h5 {
  margin-top: 10px;
}

.apod {
  margin: 85px 0;
}

.apod-image {
  width: 100%;
  margin: 0 auto;
}

/* galery */
.gallery-title {
  margin: 20px 15px;
  text-align: right;
}

.search-container {
  display: flex;
  justify-content: center;
}

#search-input {
  font-family: "Orbitron", sans-serif;
  width: 12rem;
}

#search-button {
  font-family: "Orbitron", sans-serif;
  padding: 4px 8px;
  background-color: darkblue;
  color: white;
}

/* .results-container {
  display: flex;
  justify-content: center;
} */

.search-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.results-container img {
  height: 43vw;
  width: 43vw;
  margin: 5px;
  border: 1px solid grey;
}

/* .results-container img:hover {
  height: 43vw;
  width: 43vw;
  margin: 5px;
  border: 1px solid white;
} */
/* .gallery img {
  width: 100%;
  margin-top: 5px;
} */

.gallery {
  margin: 10px 10px 15px 10px;
}

/* *** /// Sign Up /// *** */

.signup {
  margin: 85px 0;
  text-align: center;
}

.joinus-title {
  margin: 20px 0;
}

.form-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-wrapper > form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
}

.button {
  font-family: "Orbitron", sans-serif;
  padding: 4px 8px;
  background-color: darkblue;
  color: white;
}

.button:hover {
  background-color: red;
}

.message-container {
  width: 80%;
  max-width: 400px;
}

.message-container p {
  background-color: var(--red-color);
  padding: 20px;
  margin: 10px 0;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #feb1b1;
  font-family: "Orbitron", sans-serif;
}

.message-container p.correct-message {
  background-color: rgb(47, 164, 93);
  box-shadow: 0 0 10px #dbf1c1;
}

/* *** /// Log In /// *** */
.login {
  margin: 80px 0 40px 0;
  text-align: center;
}
.login img {
  height: 40vw;
  margin: 20px 0;
}
.login-title {
  margin: 20px 0;
}

/* *** /// About Us /// *** */

.about-us {
  margin: 85px 0;
}

.about-us p {
  margin: 15px 25px;
}
/* **** /// **** TABLET SCREEN **** /// **** */
@media screen and (min-width: 768px) {
  p {
    font-size: 1.2rem;
    margin: 30px 60px;
  }

  /* *** /// Home Page /// *** */

  .header-section {
    font-family: "Orbitron", sans-serif;
    height: 95vw;
    background: url("../images/sunrise-over-the-earth.jpg") no-repeat center
      center / cover;
    position: relative;
  }
  /* SFZ title */
  .header-text {
    position: absolute;
    top: 67%;
    left: 55%;
  }
  h1 {
    font-size: 3rem;
  }

  /* / main / */
  .info-logo img {
    margin-top: 15px;
    width: 30%;
    height: 30%;
    position: relative;
    left: 35%;
  }
  .social {
    margin: 10px;
    padding: 10px;
  }
  .social ul {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
  }
  /* *** /// Dashboard /// *** */
  /* apod */

  .apod-title {
    margin-bottom: 20px;
  }

  .apod h5 {
    margin: 30px 0;
  }

  .apod {
    margin: 85px 0;
  }
  .apod-text {
    margin: 15px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2;
    font-size: 1.2rem;
  }

  /* galery */

  #search-input {
    font-family: "Orbitron", sans-serif;
    width: 25rem;
  }

  #search-button {
    font-family: "Orbitron", sans-serif;
    /* height: 25px; */
    padding: 4px 30px;
    background-color: darkblue;
    color: white;
  }

  #search-button:hover {
    background-color: red;
  }
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .results-container img {
    height: 30vw;
    width: 30vw;
    margin: 5px;
    border: 1px solid white;
  }

  /* *** /// About Us /// *** */

  .about-us p {
    margin: 30px 45px;
  }

  /* *** /// Log In /// *** */
  .login {
    margin: 80px 0 40px 0;
    text-align: center;
  }
  .login img {
    height: 25vw;
    margin: 20px 0;
  }
  .login-title {
    margin: 20px 0;
  }

  .form-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
  }

  /* *** /// Sign In /// *** */
  .signup {
    margin: 150px 0 85px 0;
    text-align: center;
  }
}

/* **** /// **** DESKTOP SCREEN **** /// **** */
@media screen and (min-width: 1024px) {
  .navbar {
    font-size: 18px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 35px;
  }

  /* *** /// Home Page /// *** */
  .header-section {
    font-family: "Orbitron", sans-serif;
    height: 58vw;
    background: url("../images/sunrise-over-the-earth.jpg") no-repeat center
      center / cover;
    position: relative;
  }
  .header-text {
    position: absolute;
    top: 70%;
    left: 55%;
  }

  .info-logo img {
    margin-top: 15px;
    width: 30%;
    height: 30%;
    position: relative;
    left: 35%;
  }
  p {
    font-size: 1.2rem;
    margin: 30px 30px;
  }

  .carousel {
    margin: 50px;
  }
  /* .image-text {
    font-size: 1.5rem;
    margin: 10px 100px;
  } */

  .social {
    margin: 10px;
    padding: 10px;
  }
  .social ul {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
  }

  /* *** /// Dashboard /// *** */
  /* apod */

  .apod-title {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 35px;
  }

  .apod h5 {
    margin: 30px 0;
    font-size: 25px;
  }

  .apod {
    margin: 85px 0;
  }

  /* galery */
  .gallery-title {
    margin-right: 40px;
  }

  #search-input {
    font-family: "Orbitron", sans-serif;
    width: 40rem;
    padding: 6px 0;
    font-size: 20px;
  }

  #search-button {
    font-family: "Orbitron", sans-serif;
    padding: 8px 30px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
  }
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .results-container img {
    height: 43vw;
    width: 43vw;
    margin: 5px;
    border: 1px solid grey;
  }

  /* *** /// About Us /// *** */

  /* *** /// Log In /// *** */

  .login {
    margin: 150px 0 80px 0;
    text-align: center;
  }
  .login img {
    height: 25vw;
    margin: 20px 0;
  }
  .login-title {
    margin: 20px 0;
  }

  .form-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    font-size: 20px;
  }
  .button {
    margin: 20px 0;
    font-family: "Orbitron", sans-serif;
    height: 40px;
    font-size: 25px;
  }

  /* *** /// Sign Up /// *** */

  .signup {
    margin: 85px 0;
    text-align: center;
  }

  .joinus-title {
    margin: 20px 0;
    padding: 80px 0 10px 0;
  }

  .form-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .form-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
  }

  .button {
    margin: 20px 0;
    font-family: "Orbitron", sans-serif;
    height: 45px;
  }

  .message-container {
    width: 80%;
    max-width: 400px;
  }
}
